/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 3 version
*/

/*
colors used

text color (dark gray): '#2b2b2b';
primary color (Teal-Green):'#357b70;
secondary color (orange) : '#e0b354';
Header-Font  font-family: 'Amatic SC', cursive;
Regular-Font font-family: 'PT Sans Narrow', sans-serif;

*/

:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --grid-bg-color: #f7f4e9;
  --grid-color: #000;
  --grid-border: #1e463f;
  --visited-link-color: #f00;
  --writing: #fff;
  --default-h-font: 'Amatic SC', cursive;
  --default-h-font-weight: 700;
  --sun-start: #edc655;
  --sun-mid: #fcffad;
  --sun-end: #f76414;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  background-color: var(--primary-color);
  color: var(--writing);
}

#page-header__logo {
  max-width: 150px;
  max-height: 150px;
  border-radius: 75%;
  border-style: solid;
  border-color: var(--writing);
}

h1 {
  font-size: 50px;
  font-weight: var(--default-h-font-weight);
  font-family: var(--default-h-font);
  text-decoration: underline;
}

h2 {
  font-size: 40px;
  font-weight: var(--default-h-font-weight);
  font-family: var(--default-h-font);
  text-decoration: underline;
}

h3 {
  font-size: 20px;
  font-weight: var(--default-h-font-weight);
  font-family: var(--default-h-font);
}

a {
  color: var(--secondary-color);
}

a:visited {
  color: var(--visited-link-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--secondary-color);
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--visited-link-color);
  color: var(--writing);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
  max-width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  color: #000;
  background-color: #0f0;
  opacity: 0.8;
}

.navigation-list {
  text-decoration: none;
  list-style-type: none;
  color: var(--writing);
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list a {
  text-decoration: none;
  list-style-type: none;
  color: var(--writing);
  -webkit-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
}

.navigation-list__item--active {
  text-decoration: underline;
  color: #edc655;
}

.navigation-list a:hover,
.navigation-list a:focus,
.navigation-list a:active {
  text-decoration: underline;
  color: #edc655;
}

#portfolio{
  margin-left: 50px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile_portrait {
  float: left;
  width: 250px;
  height: 250px;
  margin-right: 40px;
  border-radius: 50%;
  border-style: solid;
  border-bottom-color: var(--writing);
}

.demo_picture {
  float: left;
  width: 250px;
  height: 250px;
  margin-right: 40px;
  border-style: solid;
  border-bottom-color: black;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  font-family: 'Amatic SC', cursive;
  color: var(--writing);
  font-size: 28px;
  margin: auto;
  border-width: 0 0 1px;
  border-style: solid;
  border-bottom-color: var(--writing);
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#contact-page {
  margin-left: 50px;
}

#about-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.about-page__table {
  max-width: 800px;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-page__table td,
.about-page__table th {
  padding: 10px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

#work-section {
  margin-left: 50px;
}

@supports (display:grid) {
  .grid__item {
    color: var(--grid-color);
    background-color: var(--grid-bg-color);
    padding-left: 20px;
    padding-bottom: 20px;
    width: auto;
    min-height: auto;
    margin: 0;
    border-width: medium;
    border-color: var(--grid-border);
    border-style: solid;
  }

  .grid__item:last-child {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 0;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }
}

.weird-writing {
  color: var(--writing);
  background-color: #000;
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 0) and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: var(--sun-start);
  }

  50% {
    fill: var(--sun-mid);
  }

  100% {
    fill: var(--sun-end);
  }
}

@keyframes color-change {
  0% {
    fill: var(--sun-start);
  }

  50% {
    fill: var(--sun-mid);
  }

  100% {
    fill: var(--sun-end);
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}